@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
.btn-container {
  display: flex;
  align-items: center;
}

.submit-btn {
  font-weight: bold;
  padding: 1em 2em;
  border: none;
  font-family: "Poppins";
  background-color: white;
  border-radius: 10px;
  color: #007bff;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 60%;
}

.submit-btn span:not(:nth-child(6)) {
  background-color: #007bff;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: 0.6s ease;
}

.submit-btn span:nth-child(6) {
  position: relative;
}

.submit-btn span:nth-child(1) {
  transform: translate(-53px, -64px);
}

.submit-btn span:nth-child(2) {
  transform: translate(-96px, 25px);
}

.submit-btn span:nth-child(3) {
  transform: translate(4px, 29px);
}

.submit-btn span:nth-child(4) {
  transform: translate(56px, 25px);
}

.submit-btn span:nth-child(5) {
  transform: translate(56px, 61px);
}

.submit-btn:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
  color: #ffffff;
}

.submit-btn:hover span:nth-child(6) {
  color: white;
}

.bin-button {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  background-color: gray;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid gray;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  overflow: hidden;
  padding: 6px;
}

.bin-buttom {
  width: 12px;
  z-index: 2;
}

.bin-top {
  width: 14px;
  transform-origin: right;
  transition-duration: 0.4s;
  z-index: 2;
}

.bin-button:hover {
  background-color: rgb(177, 0, 0);
  border: 2px solid rgb(177, 0, 0);
}

.bin-button:hover .bin-top {
  transform: rotate(45deg);
  transition: all 0.4s ease-in-out;
}

.bin-button:active {
  transform: scale(0.9);
}

.garbage {
  position: absolute;
  width: 12px;
  height: auto;
  z-index: 1;
  opacity: 0;
  transition: all 0.6s ease;
}

.bin-button:hover .garbage {
  animation: throw 0.6s linear;
}

@keyframes throw {
  from {
    transform: translate(-400%, -700%);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .btn-container {
    margin-top: 28px;
    align-items: start;
  }
  .btn-container.btn-fil {
    margin-top: 0;
  }
}
.add-page, .filter-sec {
  display: grid;
  place-items: center;
  color: #002853;
  padding: 20px 0;
}
@media (min-width: 568px) {
  .add-page, .filter-sec {
    padding: 50px 0;
  }
}

.container {
  width: 95%;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  position: relative;
  background: url("../../../public/main-img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px;
  border-radius: 10px;
  overflow: hidden;
}
.container form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 20px;
}
.container div {
  display: flex;
  flex-direction: column;
}
.container div input,
.container div select {
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  font-family: "Poppins";
  border: none;
}
.container div input:focus,
.container div select:focus {
  outline: none;
}
@media (min-width: 568px) {
  .container {
    max-width: 700px;
  }
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.35);
}

.container h2,
.container form {
  position: relative;
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  color: #007bff;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}
header h2 {
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: 800;
  text-shadow: 0 0 5px gray;
}
header nav {
  display: flex;
  gap: 20px;
}
header nav a {
  color: #007bff;
  font-size: 20px;
}
header nav .active {
  text-shadow: 0 0 20px black;
}
@media (max-width: 420px) {
  header h2 {
    font-size: 1.3rem;
  }
  header nav a {
    font-size: 1rem;
  }
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  padding: 20px 20px;
  color: rgb(70, 70, 70);
}
.cards-wrapper .card {
  background-color: #e4e7e8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgb(180, 180, 180);
}
.cards-wrapper .card .head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.cards-wrapper .card section:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
  justify-content: flex-start;
}
.cards-wrapper .card section:nth-of-type(1) .letter {
  background: #49a0fd;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  font-size: 30px;
  font-family: "Poppins";
  font-weight: bolder;
  text-shadow: 0 0 5px gray;
  box-shadow: 0 0 5px gray;
}
.cards-wrapper .card section:nth-of-type(1) .info {
  font-size: 20px;
}
.cards-wrapper .card section:nth-of-type(1) .info p:nth-of-type(2) {
  font-weight: bold;
}
.cards-wrapper .card .body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.cards-wrapper .card .body .field {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cards-wrapper .card .body .status {
  display: flex;
}
.cards-wrapper .card .body .status p {
  padding: 6px 15px;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .cards-wrapper {
    padding: 20px 60px;
  }
}/*# sourceMappingURL=style.css.map */