.btn-container{
  display: flex;
  align-items: center;
}

.submit-btn {
  font-weight: bold;
  padding: 1em 2em;
  border: none;
  font-family: 'Poppins';
  background-color: white;
  border-radius: 10px;
  color: #007bff;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 60%;
  
}

.submit-btn span:not(:nth-child(6)) {
  background-color: #007bff;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: 0.6s ease;
}
.submit-btn span:nth-child(6) {
  position: relative;
}
.submit-btn span:nth-child(1) {
  transform: translate(-53px, -64px);
}

.submit-btn span:nth-child(2) {
  transform: translate(-96px, 25px);
}

.submit-btn span:nth-child(3) {
  transform: translate(4px, 29px);
}

.submit-btn span:nth-child(4) {
  transform: translate(56px, 25px);
}
.submit-btn span:nth-child(5) {
  transform: translate(56px, 61px);
}
.submit-btn:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
  color: #ffffff;
}

.submit-btn:hover span:nth-child(6){
    color: white;
}


@media (min-width:768px) {
  .btn-container{
    margin-top: 28px;
    align-items: start;
  }
  .btn-container.btn-fil{
    margin-top: 0;
  }
}